<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423541623241-609u4002kcedcub4h679t62o2s5s80dj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423541623241-609u4002kcedcub4h679t62o2s5s80dj</string>
	<key>API_KEY</key>
	<string>AIzaSyC5kTjDPZqOGznksiGpaIiIQLuaIs1uONo</string>
	<key>GCM_SENDER_ID</key>
	<string>423541623241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flarebrow.theapp.warikanApp</string>
	<key>PROJECT_ID</key>
	<string>thewarikan</string>
	<key>STORAGE_BUCKET</key>
	<string>thewarikan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423541623241:ios:01451dcb256505ee4d4018</string>
</dict>
</plist>